:root {
  --gray-50: lab(98.2596% -0.247031 -0.706708);
  --gray-100: lab(96.1596% -0.0823438 -1.13575);
  --gray-200: lab(91.6229% -0.159115 -2.26791);
  --gray-300: lab(85.1236% -0.612259 -3.7138);
  --gray-400: lab(65.9269% -0.832707 -8.17473);
  --gray-500: lab(47.7841% -0.393182 -10.0268);
  --gray-600: lab(35.6337% -1.58697 -10.8425);
  --gray-700: lab(27.1134% -0.956401 -12.3224);
  --gray-800: lab(16.1051% -1.18239 -11.7533);
  ---gray-900: lab(8.11897% 0.811279 -12.254);
  --gray-950: lab(1.90334% 0.278696 -5.48866);

  --blue-50: oklch(97% 0.014 254.604);
  --blue-700: oklch(48.8% 0.243 264.376);

  --white: #ffffff;
}
