.tab_list_item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  border-bottom: 1px solid var(--gray-100);
  overflow: hidden;
  scroll-margin-top: 55px;
}

.tab_list_pinned {
  border: 1px solid oklch(0.94 0.03 254.53);
  border-radius: 6px;
  padding: 3px 4px;
  font-size: 12px;
  color: var(--blue-700);
  background: var(--blue-50);
}

.tab_list_item img {
  height: 18px;
  width: 18px;
}

.tab_list_text {
  width: calc(100% - 54px);
}

.tab_list_item_selected {
  background-color: var(--gray-50);
}

.tab_list_item:last-child {
  border-bottom: none;
}

.tab_list_item:first-child {
  margin-top: 55px;
}

.tab_list_notfound {
  padding: 12px 16px;
  text-align: center;
  margin-top: 70px;
  color: var(--gray-400);
  font-size: 16px;
}

.tab_list_title {
  font-size: 12px;
  color: var(--gray-900);
}

.tab_list_subtitle {
  font-size: 12px;
  color: var(--gray-400);
}

.search {
  z-index: 1;
  background-color: var(--white);
  width: 100%;
  position: fixed;
  top: 0;
}

.search span {
  border: 1px solid var(--gray-200);
  border-radius: 6px;
  position: absolute;
  top: 50%;
  right: 16px;
  padding: 3px 4px;
  font-size: 12px;
  color: var(--gray-400);
  top: calc(50% - 11px);
  background: var(--gray-50);
}

.search input {
  width: 100%;
  height: 54px;
  font-size: 14px;
  font-weight: 400;
  padding: 0 58px 0 46px;
  border-bottom: 1px solid var(--gray-100);
}

.search input:focus {
  outline: none;
}

.search input::placeholder {
  color: var(--gray-400);
  font-size: 14px;
}
